@model List<ResultImageDto>
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ev Resim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Resim Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Resim alanıyla ilgili işlemleri yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ImageUrl</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Url</td>
                                        <td><a href="/Image/UpdateImage/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                        <td><a href="/Image/DeleteImage/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Image/CreateImage/" class="btn btn-outline-primary">Yeni Image Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>