@model RegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/colorlib-regform-7/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form asp-action="Register" method="post" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Name" id="username" placeholder="Your Name" />
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="UserName" id="username" placeholder="Your Username" />
                                <span asp-validation-for="UserName"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input asp-for="Email" id="email" placeholder="Your Email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="Password" id="password" placeholder="Password" type="password"/>
                                <span asp-validation-for="Password"></span>
                            </div>
                            
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                <input asp-for="PhoneNumber" id="phone" placeholder="Your Phone" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <label for="ImageUrl"><i class="zmdi zmdi-image"></i></label>
                                <input asp-for="ImageUrl" id="imageurl" placeholder="Image URL" />
                                <span asp-validation-for="ImageUrl"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term">
                                    <span><span></span></span>
                                    I agree all statements in <a href="#" class="term-service">Terms of service</a>
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" href="/Home/Index/"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/colorlib-regform-7/images/signup-image.jpg" alt="sign up image" /></figure>
                        <a href="/Home/Register/" class="signup-image-link">Zaten Üyeyim</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/colorlib-regform-7/vendor/jquery/jquery.min.js"></script>
    <script src="~/colorlib-regform-7/js/main.js"></script>
</body>
</html>

